@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter 18pt";
    src: url("/resources/fonts/Inter18pt-Black.woff2") format("woff2"),
        url("/resources/fonts/Inter18pt-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter 18pt";
    src: url("/resources/fonts/Inter18pt-ExtraBold.woff2") format("woff2"),
        url("/resources/fonts/Inter18pt-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter 18pt";
    src: url("/resources/fonts/Inter18pt-Bold.woff2") format("woff2"),
        url("/resources/fonts/Inter18pt-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter 18pt";
    src: url("/resources/fonts/Inter18pt-Italic.woff2") format("woff2"),
        url("/resources/fonts/Inter18pt-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Inter 18pt";
    src: url("/resources/fonts/Inter18pt-Light.woff2") format("woff2"),
        url("/resources/fonts/Inter18pt-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter 18pt";
    src: url("/resources/fonts/Inter18pt-Medium.woff2") format("woff2"),
        url("/resources/fonts/Inter18pt-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter 18pt";
    src: url("/resources/fonts/Inter18pt-Regular.woff2") format("woff2"),
        url("/resources/fonts/Inter18pt-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter 18pt";
    src: url("/resources/fonts/Inter18pt-Thin.woff2") format("woff2"),
        url("/resources/fonts/Inter18pt-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter 18pt";
    src: url("/resources/fonts/Inter18pt-SemiBold.woff2") format("woff2"),
        url("/resources/fonts/Inter18pt-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

[x-cloak] {
    display: none !important;
}

html {
    scroll-behavior: smooth;
}

.animated-svg:hover path {
    fill: #ffffff;
}

.btn-primary {
    @apply px-6 py-4 text-sm font-bold tracking-wide text-white uppercase transition-colors duration-300 border-2 border-transparent rounded-lg bg-green-primary hover:text-green-primary hover:bg-green-light focus-visible:text-green-primary focus-visible:bg-green-light focus-visible:outline-none md:text-base;
}

.btn-secondary {
    @apply px-6 py-4 text-sm font-bold tracking-wide uppercase transition-colors duration-300 bg-transparent border-2 rounded-lg text-green-primary hover:bg-green-light focus-visible:bg-green-light hover:border-transparent focus-visible:border-transparent border-green-primary md:text-base;
}

.section-primary {
    @apply px-4 lg:px-32 xl:px-40;
}

.titles {
    @apply font-bold tracking-wide uppercase !leading-[120%] text-dark-black;
}

.golden-title {
    @apply text-golden-primary uppercase !leading-[120%] transition-colors underline-offset-2 underline hover:text-white hover:bg-golden-primary cursor-pointer;
}
